<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="manifest" href="./app.webmanifest">
    <link rel="icon" href="./favicon.png">
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
    <title>Restaurant Apps Starter Project</title>
</head>

<body>
    
    <a href="#daftar-restoran" class="skip-link">Menuju ke konten</a>
    <nav class="navbar">
        <div class="brand">RetaMeal</div>
        <ul class="nav-links">

            <a id="hamburgerElement" for="checkbox_toggle" href="" class="hamburger">&#9776;</a>
            <div id="menuElement" class="menu">
                <li>
                    <a href="/">Home</a>
                </li>
                <li><a href="/#/favorite">Favorite</a></li>                                
            </div>
        </ul>
    </nav>
    <main>
        <div id="jumbotron">
            <img src="./images/heros/hero-image_1.jpg" alt="">
        </div>
        <div id="main-content" tabindex="0" class="container">
            <!-- <div class="heeding-daftar d-flex jcc mb-1">
                <h1>Daftar Restoran</h1>
            </div>                      
            <div class="list-produk">
                <div class="row" id="produk">
                </div>
            </div> -->            
        </div>
    </main>

    <footer class="footer toggled">
        <div class="container-fluid d-flex jcc">
            <h3 style="color: white;">Copyright 2020 - RetaMeal</h3>
        </div>
    </footer>

</html>