<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <title>Restaurant Apps Starter Project</title>
</head>

<body>
    <nav class="navbar">
        <div class="brand">RetaMeal</div>
        <ul class="nav-links">
            <input type="checkbox" id="checkbox_toggle" />
            <label for="checkbox_toggle" class="hamburger">&#9776;</label>
            <div class="menu">
                <li>
                    <a href="http://localhost:9000/">Home</a>
                </li>
                <li><a href="#">Favorite</a></li>
                <li><a href="#daftar-restoran">Product</a></li>
                <li><a href="https://www.instagram.com/reta.tap/">About Us</a></li>
            </div>
        </ul>
    </nav>
    <main>
        <div id="jumbotron">
            <img src="./images/heros/hero-image_1.jpg" alt="">
        </div>
        <div id="daftar-restoran" class="container">
            <div class="heeding-daftar d-flex jcc mb-1">
                <h1>Daftar Restoran</h1>
            </div>
            <div class="list-produk">
                <div class="row" id="produk">
                </div>
            </div>
        </div>
    </main>

    <footer class="footer toggled">
        <div class="container-fluid d-flex jcc">
            <h3 style="color: white;">Copyright 2020 - RetaMeal</h3>
        </div>
    </footer>

</html>